$background-ad: #dcdcdc;
$background-alt-row: #f8f8f8;
$background-header-row: #ededed;
$background-page: #f8f8f8;
$background-tile: #ffffff;

$border-black: #000000;

$accent-color: #f7640c;

$font-black: #424242;
$font-link: #51b1f1;
