@import "../../assets/stylesheets/mixins/mixins.scss";

section.number-input-component {
  @include normal-font-style;

  padding: 0 8px;
  width: calc(100% - 16px);

  > input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $border-black;
    padding: 2px;
    text-align: center;
    width: calc(100% - 4px);

    &:hover {
      border-bottom: 1px solid $accent-color;
    }

    &:focus {
      border-bottom: 1px solid $accent-color;
      box-shadow: none;
      outline: none;
    }

    &::-ms-clear {
      display: none;
    }

    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  }
}
