<app-header></app-header>

<section id="tables-page-component">
  
  <section>
    
    <!-- Ad for screens smaller than our ideal minimum width -->
    <footer class="small-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Ad for small tablets and most phones -->
    <footer class="smaller-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Ad for small phones -->
    <footer class="smallest-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Main page content -->
    <header>
      <h2>
        Interactive Industrial &amp; Commercial Building Tables
      </h2>
      <div>
        Below you'll find tables for every Industrial Building and every Commercial Building, with a break down of the items those building make. You can change the number of items at the start of each row to see how long it takes to make <em>how every many you</em> want to make (and how that impacts total cost, profit, and time)!
      </div>
      <section tabindex="0" (click)="toggleFactories()" (keyup.enter)="toggleFactories()">
        Factories
        <i class="fas fa-angle-down" *ngIf="factoriesVisible"></i>
        <i class="fas fa-angle-up" *ngIf="!factoriesVisible"></i>
      </section>
      <ul [ngClass]="{ visible: factoriesVisible }">
        <li *ngFor="let producer of factories">
          <app-table [producer]="producer"></app-table>
        </li>
      </ul>
      <section tabindex="0" (click)="toggleShops()" (keyup.enter)="toggleShops()">
        Shops
        <i class="fas fa-angle-down" *ngIf="shopsVisible"></i>
        <i class="fas fa-angle-up" *ngIf="!shopsVisible"></i>
      </section>
      <ul [ngClass]="{ visible: shopsVisible }">
        <li *ngFor="let producer of shops">
          <app-table [producer]="producer"></app-table>
        </li>
      </ul>
    </header>

    <!-- Ad for screens at or above our ideal minimum width -->
    <footer class="regular-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

  </section>

</section>

<app-footer></app-footer>
