@import "../../assets/stylesheets/mixins/mixins.scss";

section#navigation-component {
  z-index: 10;

  > ul {

    > li {
      @include small-font-style;

      background-color: $background-tile;
      border: 1px solid $border-black;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      display: inline-block;
      margin-right: 0;
      padding: 16px 0;
      text-align: center;
      vertical-align: top;
      width: 80px;

      &.active {
        border-bottom: 1px solid $background-tile;
      }

      &:not(.active) {
        color: $font-link;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
