@import "../../assets/stylesheets/mixins/mixins.scss";

section.table-component {

  > header {
    margin-bottom: 12px;

    > ul {

      > li {
        @include large-font-style;

        display: inline-block;
        vertical-align: middle;

        &:first-child {
          width: 70%;
        }

        &:last-child {
          text-align: right;
          width: 30%;
        }
      }
    }
  }

  > ul {
    border: 1px solid $background-header-row;
    border-bottom: 2px solid $background-header-row;

    > li {
      @include small-font-style;

      border-top: 1px solid $background-header-row;
      padding: 8px 0;

      &:first-child {
        border-top: none;
      }

      &:nth-child(odd) {
        background-color: $background-alt-row;
      }

      &.header-row {
        @include accent-font;

        background-color: $background-header-row;
      }

      > ul {

        > li {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;

          &.item-count {
            width: 6%;
          }

          &.name {
            width: 27%;

            > img {
              height: 20px;
              width: 20px;
            }
          }

          &.production-time {
            width: 14%;
          }

          &.required-items {
            width: 20%;
          }

          &.sell-price {
            width: 11%;
          }

          &.profit {
            width: 11%;
          }

          &.profit-per-minute {
            width: 11%;
          }

          > img,
          > div,
          > ul {
            display: inline-block;
            vertical-align: middle;
          }

          > div {
            padding-left: 2px;

            > img {
              height: 12px;
              width: 12px;
            }
          }

          > img {
            height: 12px;
            width: 12px;
          }

          > ul {
            margin-right: 8px;

            > li {

              > img,
              > div {
                display: inline-block;
                vertical-align: middle;
              }

              > div {
                padding-left: 2px;
              }

              > img {
                height: 20px;
                width: 20px;
              }
            }
          }
        }
      }
    }
  }
}
