<section class="table-component">
  <header>
    <ul>
      <li>
        <img [attr.src]="producer.imagePath" />
        <div>
          {{ producer.name }}
        </div>
        <div *ngIf="producer.isShop()">
          <i tabindex="1" 
             class="fas fa-star empty" 
             *ngIf="levelLessThan(1)"
             (click)="setLevel(1)"
             (keyup.enter)="setLevel(1)"></i>
          <i tabindex="1"
             class="fas fa-star filled" 
             *ngIf="levelGreaterThanOrEqualTo(1)"
             (click)="setLevel(1)"
             (keyup.enter)="setLevel(1)"></i>
          <i tabindex="1" 
             class="fas fa-star empty" 
             *ngIf="levelLessThan(2)"
             (click)="setLevel(2)"
             (keyup.enter)="setLevel(2)"></i>
          <i tabindex="1" 
             class="fas fa-star filled" 
             *ngIf="levelGreaterThanOrEqualTo(2)"
             (click)="setLevel(2)"
             (keyup.enter)="setLevel(2)"></i>
          <i tabindex="1" 
             class="fas fa-star empty" 
             *ngIf="levelLessThan(3)"
             (click)="setLevel(3)"
             (keyup.enter)="setLevel(3)"></i>
          <i tabindex="1" 
             class="fas fa-star filled" 
             *ngIf="levelGreaterThanOrEqualTo(3)"
             (click)="setLevel(3)"
             (keyup.enter)="setLevel(3)"></i>
          <span class="link"
                *ngIf="levelGreaterThanOrEqualTo(1)"
                (click)="setLevel(0)"
                (keyup.enter)="setLevel(0)">
            clear
          </span>
        </div>
      </li>
      <li>
        <div *ngIf="producer.isShop()">
          token stuff here
        </div>
        <div *ngIf="producer.isFactory()">
          {{ producer.activeQueues }} Production Slots
        </div>
      </li>
    </ul>
  </header>
  <ul>
    <li class="header-row">
      <ul>
        <li class="item-count">
          <!-- Intentionally empty (number input in item rows) -->
        </li>
        <li class="name">
          Name
        </li>
        <li class="production-time">
          Time
        </li>
        <li class="required-items">
          Items (Cost)
        </li>
        <li class="sell-price">
          Max<br/>Price
        </li>
        <li class="profit">
          Profit
        </li>
        <li class="profit-per-minute">
          Profit Per Minute
        </li>
      </ul>
    </li>
    <li *ngFor="let item of productionItems">
      <ul>
        <li class="item-count">
          <app-text-input [(model)]="itemCountsHash[item.key]"></app-text-input>
        </li>
        <li class="name">
          <img [attr.src]="item.imagePath" />
          <div>
            {{ item.name }}
          </div>
        </li>
        <li class="production-time">
          {{ productionTime(item) }}
        </li>
        <li class="required-items">
          <ul>
            <li *ngFor="let ingredient of item.ingredients">
              <img [attr.src]="itemImageForKey(ingredient.itemKey)" />
              <div>
                x {{ requiredAmount(item, ingredient) }}
              </div>
            </li>
            <li *ngIf="noIngredients(item)">
              <div>
                --
              </div>
            </li>
          </ul>
          <div>
            ({{ requiredItemsCost(item) }}<img src="../../assets/images/misc/currency_coins.png" />)
          </div>
        </li>
        <li class="sell-price">
          <div>
            {{ totalSellPrice(item) }}
            <img src="../../assets/images/misc/currency_coins.png" />
          </div>
        </li>
        <li class="profit">
          <div>
            {{ totalProfit(item) }}
            <img src="../../assets/images/misc/currency_coins.png" />
          </div>
        </li>
        <li class="profit-per-minute">
          <div>
            {{ profitPerMinute(item) }}
            <img src="../../assets/images/misc/currency_coins.png" />
          </div>
        </li>
      </ul>
    </li>
  </ul>
</section>
