<section class="table-component">
  <header>
    <ul>
      <li>
        <app-producer-level-select
          [producer]="producer"
          [selectedLevel]="selectedLevel"
          (onLevelChange)="setLevel($event)">
        </app-producer-level-select>
      </li>
      <li>
        <div *ngIf="producer.isShop()">
          <app-boost-select
            [selectedBoostMultiplier]="selectedBoostMultiplier"
            (onBoostMultiplierChange)="updateBoostMultiplier($event)">
          </app-boost-select>
        </div>
      </li>
    </ul>
  </header>
  <ul>
    <li class="header-row">
      <ul>
        <li class="item-count">
          <!-- Intentionally empty (number input in item rows) -->
        </li>
        <li class="name">
          <div>Name</div>
        </li>
        <li class="production-time">
          Time
        </li>
        <li class="required-items">
          Items (Cost)
        </li>
        <li class="sell-price">
          Max<br/>Price
        </li>
        <li class="profit">
          Profit
        </li>
        <li class="profit-per-minute">
          Profit Per Minute
        </li>
      </ul>
    </li>
    <li *ngFor="let item of productionItems">
      <ul>
        <li class="item-count">
          <app-number-input [(model)]="itemCountsHash[item.key]"></app-number-input>
        </li>
        <li class="name">
          <img [attr.src]="item.imagePath" />
          <div>
            {{ item.name }}
          </div>
        </li>
        <li class="production-time">
          {{ productionTime(item) }}
        </li>
        <li class="required-items">
          <ul>
            <li *ngFor="let ingredient of item.ingredients">
              <img [attr.src]="itemImageForKey(ingredient.itemKey)" />
              <div>
                x {{ requiredAmount(item, ingredient) }}
              </div>
            </li>
            <li *ngIf="noIngredients(item)">
              <div>
                --
              </div>
            </li>
          </ul>
          <div>
            ({{ requiredItemsCost(item) }}<img src="../../assets/images/misc/currency_coins.png" />)
          </div>
        </li>
        <li class="sell-price">
          <div>
            {{ totalSellPrice(item) }}
            <img src="../../assets/images/misc/currency_coins.png" />
          </div>
        </li>
        <li class="profit">
          <div>
            {{ totalProfit(item) }}
            <img src="../../assets/images/misc/currency_coins.png" />
          </div>
        </li>
        <li class="profit-per-minute">
          <div>
            {{ profitPerMinute(item) }}
            <img src="../../assets/images/misc/currency_coins.png" />
          </div>
        </li>
      </ul>
    </li>
  </ul>
</section>
