<section id="footer-component">
  <ul>
    <li>
      <span class="link" tabindex="0" (click)="navigateToAbout()" (keyup.enter)="navigateToAbout()">About</span>
    </li>
    <li>
      <span class="link" tabindex="0" (click)="navigateToTerms()" (keyup.enter)="navigateToTerms()">Terms of Use</span>
    </li>
    <li>
      <span class="link" tabindex="0" (click)="navigateToPrivacyPolicy()" (keyup.enter)="navigateToPrivacyPolicy()">Privacy Policy</span>
    </li>
    <li>
      <a href="www.ryancrews.com">ryancrews.com</a>
    </li>
  </ul>
  <footer>
    This site was created under Electronic Arts' Fansite Kit Terms using materials from SIM CITY BUILDIT. Trademarks are the property of their respective owners. Game materials copyright Electronic Arts Inc. and/or its licensors. Electronic Arts Inc. and its licensors have not otherwise endorsed and are not responsible for the operation of or content on this site.
  </footer>
</section>