<section class="boost-select-component">
  <div tabindex="1" 
       [ngClass]="{inactive: !boostMultiplierActive(2)}"
       (click)="updateBoostMultiplier(2)"
       (keyup.enter)="updateBoostMultiplier(2)">
    <div><!-- I'm an overlay --></div>
    <img src="../../assets/images/misc/boost_01.png" />
  </div>
  <div tabindex="1" 
       [ngClass]="{inactive: !boostMultiplierActive(4)}"
       (click)="updateBoostMultiplier(4)"
       (keyup.enter)="updateBoostMultiplier(4)">
    <div><!-- I'm an overlay --></div>
    <img src="../../assets/images/misc/boost_02.png" />
  </div>
  <div tabindex="1" 
       [ngClass]="{inactive: !boostMultiplierActive(12)}"
       (click)="updateBoostMultiplier(12)"
       (keyup.enter)="updateBoostMultiplier(12)">
    <div><!-- I'm an overlay --></div>
    <img src="../../assets/images/misc/boost_03.png" />
  </div>
</section>
