<app-header></app-header>

<section id="tools-page-component">
  
  <header>
    <app-navigation [activeTab]="activeTabName()"></app-navigation>
  </header>
  
  <section>
    
    <!-- Ad for screens smaller than our ideal minimum width -->
    <footer class="small-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Ad for small tablets and most phones -->
    <footer class="smaller-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Ad for small phones -->
    <footer class="smallest-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Main page content -->
    <header>
      <h2>
        Custom Tools That Answer Specific Question Based On <em>YOUR</em> Buildings
      </h2>
      <div>
        Below you'll find tools that answer a variety of questions based on the configured buildings below. When you have it configured just how you want it you can bookmark the URL and return to your custom setup at any time!
      </div>
      <!-- TODO: this -->
    </header>
    
    <!-- Ad for screens at or above our ideal minimum width -->
    <footer class="regular-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>
  
  </section>

</section>

<app-footer></app-footer>
