@import "../../assets/stylesheets/mixins/mixins.scss";

section.producer-level-select-component {

  > img,
  > div {
    display: inline-block;
    vertical-align: middle;
  }

  > img {
    height: 60px;
    width: 81px;
  }

  > div {
    padding-left: 8px;

    > i,
    > span {
      display: inline-block;
      vertical-align: middle;
    }

    > i {
      cursor: pointer;
      font-size: $huge;
      margin-left: 4px;

      &.empty {
        color: $star-empty;

        &:hover {
          color: $star-hover;
        }
      }

      &.filled {
        color: $star-filled;
      }
    }

    > span {
      @include small-font-style;
      margin-left: 12px;

      &.link {
        color: $font-link;
      }
    }
  }

  > section {
    @include large-font-style;

    > div {
      @include small-font-style;
    }
  }
}
