<section class="producer-level-select-component">
  <img [attr.src]="producer.imagePath" />
  <div *ngIf="producer.isShop()">
    <i tabindex="0" 
        class="fas fa-star empty" 
        *ngIf="levelLessThan(1)"
        (click)="setLevel(1)"
        (keyup.enter)="setLevel(1)"></i>
    <i tabindex="0"
        class="fas fa-star filled" 
        *ngIf="levelGreaterThanOrEqualTo(1)"
        (click)="setLevel(1)"
        (keyup.enter)="setLevel(1)"></i>
    <i tabindex="0" 
        class="fas fa-star empty" 
        *ngIf="levelLessThan(2)"
        (click)="setLevel(2)"
        (keyup.enter)="setLevel(2)"></i>
    <i tabindex="0" 
        class="fas fa-star filled" 
        *ngIf="levelGreaterThanOrEqualTo(2)"
        (click)="setLevel(2)"
        (keyup.enter)="setLevel(2)"></i>
    <i tabindex="0" 
        class="fas fa-star empty" 
        *ngIf="levelLessThan(3)"
        (click)="setLevel(3)"
        (keyup.enter)="setLevel(3)"></i>
    <i tabindex="0" 
        class="fas fa-star filled" 
        *ngIf="levelGreaterThanOrEqualTo(3)"
        (click)="setLevel(3)"
        (keyup.enter)="setLevel(3)"></i>
    <span class="link"
          *ngIf="levelGreaterThanOrEqualTo(1)"
          (click)="setLevel(0)"
          (keyup.enter)="setLevel(0)">
      clear
    </span>
  </div>
  <section>
    {{ producer.name }}
    <div *ngIf="producer.isFactory()">
        ({{ producer.activeQueues }} Production Slots)
    </div>
  </section>
</section>
