@import "../../assets/stylesheets/mixins/mixins.scss";

section.producer-level-select-component {

  > img,
  > div {
    display: inline-block;
    vertical-align: middle;
  }

  > img {
    height: 60px;
    width: 81px;
  }

  > div {
    padding-left: 8px;

    > i {
      cursor: pointer;

      &.empty {
        color: $star-empty;

        &:hover {
          color: $star-hover;
        }
      }

      &.filled {
        color: $star-filled;
      }
    }

    > span {
      @include tiny-font-style;
      color: $font-link;
    }
  }
}
