@import "../../assets/stylesheets/mixins/mixins.scss";

section#about-page-component {
  box-shadow: 0 1px 2px 0 rgba(70, 80, 100, 0.6);
  margin-bottom: 80px;
  position: relative;

  > section {
    background-color: $background-tile;
    border-top: 1px solid $border-black;
    min-height: 420px;

    > header,
    > footer {
      display: inline-block;
      vertical-align: top;

      @media (max-width: $small-view) {
        display: block;
      }
    }

    > header {
      height: 100%;
      width: calc(100% - 156px);

      @media (max-width: $small-view) {
        width: 100%;
      }

      > h2 {
        @include huge-font-style;
        margin: 40px 20px 20px;

        @media (max-width: $small-view) {
          margin-top: 20px;
        }
        
        @media (max-width: $smaller-view) {
          margin: 20px 12px;
        }
      }

      > div {
        @include normal-font-style;
        padding: 20px;

        @media (max-width: $smaller-view) {
          padding: 20px 12px;
        }
      }

      > section {
        @include large-font-style;
        border-bottom: 1px solid $border-black;
        cursor: pointer;
        margin: 20px 20px 0;
        padding-bottom: 8px;
        width: calc(100% - 40px);

        -moz-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $accent-color;
        }

        > i {
          margin-left: 8px;
        }
      }

      > ul {
        margin-bottom: 40px;
        max-height: 0;
        overflow: hidden;
        width: 100%;

        -moz-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        -o-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

        &.visible {
          max-height: 10000px;

          -moz-transition: max-height 1s ease-in-out;
          -o-transition: max-height 1s ease-in-out;
          -webkit-transition: max-height 1s ease-in-out;
          transition: max-height 1s ease-in-out;
        }

        > li {
          padding: 40px 20px;

          @media (max-width: $smaller-view) {
            padding: 40px 12px;
          }
        }
      }
    }

    > footer {
      background-color: #ffffff;
      padding: 40px 20px;

      &.regular-view-ad {
        width: 116px;

        @media (max-width: $small-view) {
          display: none;
        }

        > div {
          background-color: $background-ad;
          color: #426282;
          height: 430px;
          text-align: center;
          width: 116px;

          > div {
            padding-top: 160px;
          }
        }
      }

      &.small-view-ad {
        display: none;
        width: calc(100% - 40px);

        @media (max-width: $small-view) {
          display: block;
        }

        @media (max-width: 707px) { // add size plus 40px padding, minor break point to accomidate ad until screen is smaller than ad width
          padding: 40px 0;
          width: 100%;
        }

        @media (max-width: $smaller-view) {
          display: none;
        }

        > div {
          background-color: $background-ad;
          color: #426282;
          height: 86px;
          margin: 0 auto;
          text-align: center;
          width: 667px;

          > div {
            padding-top: 30px;
          }
        }
      }

      &.smaller-view-ad {
        display: none;
        padding: 40px 12px;
        width: calc(100% - 24px);

        @media (max-width: $smaller-view) {
          display: block;
        }

        @media (max-width: $smallest-view) {
          display: none;
        }

        @media (max-width: 379px) { // add size plus 24px padding, minor break point to accomidate ad until screen is smaller than ad width
          padding: 40px 0;
          width: 100%;
        }

        > div {
          background-color: $background-ad;
          color: #426282;
          height: 296px;
          margin: 0 auto;
          text-align: center;
          width: 355px;

          > div {
            padding-top: 126px;
          }
        }
      }

      &.smallest-view-ad {
        display: none;
        padding: 40px 12px;
        width: calc(100% - 24px);

        @media (max-width: $smallest-view) {
          display: block;
        }

        @media (max-width: 252px) { // add size plus 24px padding, minor break point to accomidate ad until screen is smaller than ad width
          padding: 40px 0;
          width: 100%;
        }

        > div {
          background-color: $background-ad;
          color: #426282;
          height: 192px;
          margin: 0 auto;
          text-align: center;
          width: 228px;

          > div {
            padding-top: 86px;
          }
        }
      }
    }
  }
}

