<app-header></app-header>

<section id="about-page-component">
  
  <header>
    
  </header>
  
  <section>
    
    <!-- Ad for screens smaller than our ideal minimum width -->
    <footer class="small-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Ad for small tablets and most phones -->
    <footer class="smaller-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Ad for small phones -->
    <footer class="smallest-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Main page content -->
    <header>
      <h2>
        About
      </h2>
      <div>
        Welcome! We're glad you made it to our SimCity BUILDIT<sup>TM</sup> 
      </div>
    </header>

    <!-- Ad for screens at or above our ideal minimum width -->
    <footer class="regular-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

  </section>

</section>

<app-footer></app-footer>
