<app-header></app-header>

<section id="about-page-component">
  
  <section>
    
    <!-- Ad for screens smaller than our ideal minimum width -->
    <footer class="small-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Ad for small tablets and most phones -->
    <footer class="smaller-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Ad for small phones -->
    <footer class="smallest-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

    <!-- Main page content -->
    <header>
      <h2>
        About
      </h2>
      <div>
        Welcome! We're glad you made it to our SimCity BUILDIT<sup>TM</sup> calculator.
      </div>
      <div>
        On this site you'll find <span class="link" tabindex="0" (click)="navigateToHomePage()" (keyup.enter)="navigateToHomePage()">interactive tables</span> that allow you to see how long it'll take to make the things you need.
      </div>
      <div>
        For those technical users out there the source code of this site is <span class="link" tabindex="0" (click)="launchGithub()" (keyup.enter)="launchGithub()">available on GitHub</span> for viewing. This site is written in Angular, hosted on Heroku, and deployed via CircleCI.
      </div>
    </header>

    <!-- Ad for screens at or above our ideal minimum width -->
    <footer class="regular-view-ad">
      <div>
        <div>
          awesome ad image here
        </div>
      </div>
    </footer>

  </section>

</section>

<app-footer></app-footer>
