<section id="header-component">
  <header>
    <div class="link" tabindex="0" (click)="launchGithub()" (keyup.enter)="launchGithub()">
      view code on github <i class="fab fa-github"></i>
    </div>
  </header>
  <footer>
    <h1>
      <em>SIM CITY BUILDIT <sup>TM</sup></em> Calculator
    </h1>
    <ul>
      <li>
        <img src="../../assets/images/misc/currency_time.png" />How long...
      </li>
      <li>
        <img src="../../assets/images/misc/currency_coins.png" />How much...
      </li>
      <li>
        <img src="../../assets/images/items/flourbags.png" />How many...
      </li>
    </ul>
    <h3>
      Quickly answer your questions here!<br />Enjoy! <img src="../../assets/images/misc/happiness_01.png" />
    </h3>
  </footer>
</section>
