<section id="header-component">
  <header>
    <div class="link" tabindex="0" (click)="launchGithub()" (keyup.enter)="launchGithub()">
      view code on github <i class="fab fa-github"></i>
    </div>
  </header>
  <footer>
    <h1>
      <em>SIM CITY BUILDIT</em> Calculator
    </h1>
    <ul>
      <li>
        How long...
      </li>
      <li>
        How much...
      </li>
      <li>
        How many...
      </li>
    </ul>
    <h2>
      Quickly answer your questions with our tables and tools. Enjoy!
    </h2>
  </footer>
</section>
