@import "../../assets/stylesheets/mixins/mixins.scss";

section#header-component {
  background: url("../../assets/images/splash/splash_1000w_320h.jpg") no-repeat;
  height: 320px;
  position: relative;

  > header {
    background-color: $background-tile;
    box-shadow: 0 1px 2px 0 rgba(70, 80, 100, 0.6);
    height: 20px;
    width: 100%;

    > div {
      @include tiny-font-style;
      cursor: pointer;
      float: right;
      padding: 0 16px;
    }
  }

  > footer {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(70, 80, 100, 0.6);
    left: 40px;
    padding: 20px;
    position: absolute;
    top: 40px;
    width: 350px;

    @media (max-width: $smaller-view) {
      left: 20px;
      padding: 16px;
      width: 280px;
    }

    @media (max-width: $smallest-view) {
      left: 12px;
      padding: 12px;
      top: 32px;
    }

    > h1 {
      @include huge-font-style;
      margin: 0;
      padding: 0 0 12px 0;

      @media (max-width: $smaller-view) {
        font-size: $large;
        line-height: 24px;
      }

      @media (max-width: $smallest-view) {
        font-size: $normal;
      }

      > em {
        
        > sup {
          @include tiny-font-style;
          color: $accent-color;
        }
      }
    }

    > ul {
      padding-bottom: 12px;

      > li {
        font-style: oblique;

        @media (max-width: $smaller-view) {
          display: inline-block;
          vertical-align: bottom;
        }

        &:nth-child(1) {
          @include tiny-font-style;
          padding-left: 60px;

          @media (max-width: $smaller-view) {
            padding-left: 8px;
          }

          > img {
            height: 12px;
            width: 12px;
          }
        }
  
        &:nth-child(2) {
          @include normal-font-style;
          padding-left: 120px;

          @media (max-width: $smaller-view) {
            padding-left: 8px;
            @include small-font-style;
          }

          > img {
            height: 20px;
            width: 20px;
          }
        }
  
        &:nth-child(3) {
          @include small-font-style;
          padding-left: 20px;

          @media (max-width: $smaller-view) {
            padding-left: 8px;
            @include tiny-font-style;
          }

          > img {
            height: 16px;
            width: 16px;
          }
        }
      }
    }

    > h3 {
      @include large-font-style;
      margin: 12px 0 0 0;
      padding: 0;

      @media (max-width: $smaller-view) {
        font-size: $normal;
      }

      > img {
        height: 20px;
        width: 20px;
      }
    }
  }
}
