html,
body,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background:
    radial-gradient(#dedede 15%, transparent 15%) 0 0,
    radial-gradient(#eeeff0 15%, transparent 15%) 16px 16px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 16px 17px;
  background-size: 32px 32px;
  background-color: #f8f8f8;
}

ol,
ul {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
.link {
  color: #51b1f1;
  cursor: pointer;
  text-decoration: none;
}

a:active,
a:hover,
.link:active,
.link:hover {
  color: #37afff;
  text-shadow: 1px 1px 1px inset #175d8b;
}
  
a:visited,
.link:visited {
  color: #175d8b;
}

body {
  background-color: #f8f8f8;
  color: #333333;
  margin: 0;
}
